body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

header {
    background-color:black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-left: 20px;
}

.logo {
    width: 50px;
    height: auto;
    animation: logo-animation 3s infinite alternate;
}

@Keyframes logo-animation {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.1);
    }
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

    
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: red;
}
main {
    padding: 20px;
}

.intro h2 {
    font-size: 30px;
    color: black;
    text-align: left;
}

.about-me {
    display: flex;
    text-align: left;
    font-size: 30px;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-me h1 {
    font-size: 36px;
    color: white;
    animation: about-me-animation 1s ease-in-out infinite alternate; 
}

@keyframes about-me-animation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

.about-me-content {
    max-width: 1000px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 27px;
}

.profile-photo-container {
    margin-top: 20px;
    margin-right: 20px;
}

.profile-photo {
    width: 300px;
    height: auto;
    border-radius: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: profile-photo-animation 1s infinite alternate;
}
@keyframes profile-photo-animation {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.05);
    }
}


footer {
    background-color:black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    animation: profile-photo-animation 1s infinite alternate;
}

@keyframes profile-photo-animation {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.05);
    }
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a {
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-media a:hover {
    transform: scale(1.1);
}

.social-icon {
    width: 30px;
    height: auto;
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me-content, .profile-photo-container {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px;
    }

    .logo {
        max-width: 80px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px 0;
        display: block;
        width: 100%;
        text-align: center;
    }

    .main {
        padding: 10px;
    }

    .about-me-content, .profile-photo-container {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .profile-photo {
        max-width: 80%;
        margin: 0 auto;
    }

    footer {
        padding: 20px 10px;
    }

    .social-media a {
        margin: 0 5px;
    }

    .social-icon {
        width: 32px;
        height: 32px;
    }
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: grey;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.left-section {
    width: 40%;
    padding: 20px;
    background-color: grey;
    border-right: 1px solid #ccc;
}

.left-section h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 15px;
}

.left-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-section li {
    color: black;
    margin-bottom: 10px;
}

.right-section {
    width: 55%;
    padding: 20px;
}

.right-section h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 15px;
}

.right-section form {
    display: flex;
    flex-direction: column;
}

.right-section label {
    font-size: 18px;
    color: black;
    margin-bottom: 8px;
}


.right-section input[type="text"],
.right-section input[type="email"],
.right-section textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}

.right-section textarea {
    resize: vertical;
}

.right-section input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right-section input[type="submit"]:hover {
    background-color: black;
    color: white;
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .left-section, .right-section {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    form input, form textarea {
        width: 100%;
    }
}

.main{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 20px;
    
}

.project {
    background-color: grey;
    border-radius: 8px;
    color: green;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
}

.project:hover {
    transform: translateY(-5px);
    color: black;
    
}

.project img {
    width: 100%;
    height: 400px;
    
}

.project-content {
    padding: 15px;
}

.project-content h3 {
    font-size: 1.2em;
    color: black;
}

.project-content p {
    font-size: 1rem;
    color: red;
}
.view-more {
    display: block;
    text-align: center;
    background-color: #333;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-more{
    background-color: white;
    color: black;
}
.project a {
    text-decoration: none;
    color: inherit;
}

.project a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr;
    }

    .project {
        margin: 10px 0;
    }
}

}
.container section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.container section h2 {
    margin-top: 0;
    font-size: 24px;
    color: black;
}

.container section p {
    color: white;
}


.container .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.container .project-grid .project-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.container .project-grid .project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.container .project-grid .project-item p {
    color: #777;
}
.introduction {
    padding: 2rem;
    background-color: grey;
    text-align: left;
    color: black;
    font-size: 20px;
}

.introduction h2 {
    margin-top: 0;
}

iframe {
    display: block;
    margin: 0 auto; 
    width: 100%; 
    max-width: 853px; 
    height: 480px; 
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    iframe {
        max-width: 100%; 
        height: auto; 
    }
}